<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @state.name %>
</p>

<p>
  <strong>Acronym:</strong>
  <%= @state.acronym %>
</p>

<p>
  <strong>Cities:</strong>
  <%= link_to 'Cities', state_cities_path(@state) %>
</p>

<%= link_to 'Edit', edit_country_state_path(@country, @state) %> |
<%= link_to 'Back', country_states_path(@country) %>
