<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Acronym:</strong>
  <%= @country.acronym %>
</p>


<p>
  <strong>States</strong>
  <%= link_to 'States List', country_states_path(@country) %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
